<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Schlagzeilen</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <h1 th:text="'Schlagzeilen (Seite ' + ${seiteNr} + ' von ' + ${maxSeite} + ')'"></h1>

    <div th:each="schlagzeile : ${schlagzeilenliste}">

        <span th:if="${schlagzeile.isInland()}"  th:text="'[Inland]'"></span>
        <span th:if="${!schlagzeile.isInland()}" th:text="'[International]'"></span>

        <span th:text="${schlagzeile.getSchlagzeile()}"></span>
        <br><br>
    </div>

</body>