<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Schlagzeilen: Statistik</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

    <h1>Schlagzeilen: Statistik</h1>

    <ul>
        <li th:each="statistik : ${statistikzeilen}">
            <span th:if="${statistik.inland()}"  th:text="'Inland'"       ></span>
            <span th:if="${!statistik.inland()}" th:text="'International'"></span>
            : &nbsp;
            <span th:text="${statistik.anzahl()}"></span>
        </li>
    </ul>
</body>